@using Entities
@using Interfaces
@using Data
@inject IEManagerService EManagerService
@inject IProductService ProductService
@inject IOrderService OrderService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inherits ProductComponentBase

@if (DisplayCheckout)
{
    <Alert OnCancel="() => DisplayCheckout = false">
        <h3>Checkout</h3>
        Are you sure you want to order the following items?
        <ul class="list-group">
            @for (int i = 0; i < CartDict.Count; i++)
            {
                <CheckoutItem Count="@CartDict.ElementAt(i).Value"
                      Info="@CartDict.ElementAt(i).Key"
                      Index="i"
                      OnCountUpdate="async (int[] p) => {
                        int index = p[0];
                        int count = p[1];
                        if(count <= 0)
                        {
                            CartDict.Remove(CartDict.ElementAt(index).Key);
                            if(CartDict.Count == 0) DisplayCheckout = false;
                        }
                        else if(count > CartDict.ElementAt(index).Key.Qty)
                        {
                            await warnTooMany();
                        }
                        else
                        {
                            CartDict[CartDict.ElementAt(index).Key] = count;
                        }
                    }"
                      OnRemove="(Product p) =>
                    {
                        CartDict.Remove(p);
                        if(CartDict.Count == 0) DisplayCheckout = false;
                    }" />
            }
        </ul>
        <div class="d-flex flex-row justify-content-around mt-3">
            <button class="btn btn-neutral" title="Cancel" aria-label="Cancel" @onclick="() => DisplayCheckout = false">Cancel</button>
            <button class="btn btn-positive" title="Confirm" aria-label="Confirm" @onclick="SendCart">Confirm</button>
        </div>
    </Alert>
}

@if (DisplaySuccess)
{
    <Alert OnCancel="() => DisplaySuccess = false">
        <h3>Order placed!</h3>
        Your order has been placed
        <div class="d-flex flex-row justify-content-around mt-3">
            <button class="btn btn-positive" title="Ok" aria-label="Ok" @onclick="() => DisplaySuccess = false">Ok</button>
        </div>
    </Alert>
}

<div class="container-fluid row">
    <div class="col container-fluid" style="height: calc(100vh - 105px);">
        <div class="row d-block d-xl-none position-sticky sticky-top">
            <button class="btn btn-custom" title="Show Cart" aria-label="Show cart" @onclick="() => DisplayCheckout = true">Show Cart (@CartCount())</button>
        </div>
        @ChildContent
    </div>
    <div class="border-start border-dark col-2 ms-4 d-none d-xl-block min-vh-100">

        <!-- Cart Menu -->
        <div class="position-fixed container-fluid d-flex flex-column justify-content-between text-white align-content-center" style="height: calc(100% - 85px)">
            <ul class="list-group">
                @for (int i = 0; i < CartDict.Count; i++)
                {
                    <CartItem Info="@CartDict.ElementAt(i).Key"
                          Count="@CartDict.ElementAt(i).Value"
                          Index="i"
                          OnCountUpdate="UpdateCount"
                          OnRemove="RemoveFromCart" />
                }
            </ul>
            <div style="margin-bottom: 56px;">
                <button @onclick="() => { if (CartDict.Count > 0) DisplayCheckout = true; }" class="btn btn-positive mb-4" title="Send to Storage" aria-label="Send to storage">Send Storage</button>
            </div>
        </div>
    </div>
</div>
@if (DisplayTooMany)
{
    <Toast>
        <strong>Could not increase amount</strong>
        <br>No more stock of product
    </Toast>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public List<Product> Products { get; set; } = Product.generateList(25);

    [Parameter]
    public Dictionary<Product, int> CartDict { get; set; } = new Dictionary<Product, int>();

    [Parameter]
    public EventCallback OnCartSend { get; set; } 

    public bool DisplayCheckout = false;
    public bool DisplaySuccess = false;
    public bool DisplayTooMany = false;

    // Summarize the amount of products currently in the cart
    public int CartCount()
    {
        int count = 0;
        for (int i = 0; i < CartDict.Count; i++)
        {
            count += CartDict.ElementAt(i).Value;
        }
        return count;
    }

    public async Task warnTooMany()
    {
        DisplayTooMany = true;
        StateHasChanged();
        await Task.Delay(2500);
        DisplayTooMany = false;
        StateHasChanged();
    }

    public async void SendCart()
    {
        int nextOrderId = await OrderService.GetNextID();
        // Upload the order to the database
        int[] data = await OrderService.Create(CartDict);

        int pickListId = data[0];
        int transactionId = data[1];

        List<PicklistLine> lines = new List<PicklistLine>();
        for(int i = 0;i < CartDict.Count;i++)
        {
            int productId = CartDict.Keys.ElementAt(i).Id;
            int quantity = CartDict.Values.ElementAt(i);

            lines.Add(new PicklistLine
            {
                TransactionId = transactionId,
                ExtPicklistId = $"{pickListId}",
                ExtOrderId = nextOrderId + i,
                ExtProductId = $"{productId}",
                Quantity = quantity
            });

            await ProductService.UpdateQuantity(productId, (decimal)-quantity);
        }

        await EManagerService.ImportPicklist(lines);

        CartDict.Clear();



        DisplayCheckout = false;
        DisplaySuccess = true;
        StateHasChanged();
        await OnCartSend.InvokeAsync();
    }

    public void RemoveFromCart(int index)
    {
        CartDict.Remove(CartDict.ElementAt(index).Key);
    }

    public async void UpdateCount(int[] product)
    {
        int index = product[0];
        int count = product[1];

        if (count <= 0)
        {
            RemoveFromCart(index);
        }
        else if(count > CartDict.ElementAt(index).Key.Qty)
        {
            await warnTooMany();
        }
        else
        {
            CartDict[CartDict.ElementAt(index).Key] = count;
        }
    }

    
}
