@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager;
@inject NavigationManager NavigationManager;
@page "/#"

<nav class="navbar navbar-expand-lg navbar-light bg-white p-0 shadow-sm">
    <div class="container-fluid p-0">
        <a href="/home"><img id="img-header" width="242" height="97" class="navbar-brand p-0 image" src="\images\logos\Element Logic logo white on red hires.jpg" alt="header_logo"></a>
        <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-4" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link @(IsActive("/login"))" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link @(IsActive("/home"))" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link @(IsActive("/productpage"))" aria-current="page" href="/productpage">Products</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link @(IsActive("/inboundpage"))" aria-current="page" href="inboundpage">Inbound</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link @(IsActive("/stockpage"))" aria-current="page" href="stockpage">Stock</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link @(IsActive("/orderpage"))" aria-current="page" href="orderpage">Order</a>
                </li>          
            </ul>
        </div>
    </div>
</nav>

<style>
    .nav-link.active {
        font-weight: bold !important;
        color: #b9132f !important;
        text-decoration: underline;
    }
</style>


@code {

    // Set the navbar link as active when navbar is loaded the first time to show which page the user is on
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
        }
        
    private void OnLocationChanged(object sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    // Force reset of nav menu when navigating to a new page
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavigationManager.LocationChanged += (sender, e) => StateHasChanged();
        }
    }

    // Create function to check what is the current page and return "active" if it is the current page to change styling on the nav bar
    private string IsActive(string page) => NavigationManager.Uri.Contains(page) ? "active" : "";

}



