@using WebStoreElementLogic.Entities
@using WebStoreElementLogic.Data;

<Alert OnCancel="() =>OnCancelEvent.InvokeAsync()">
    <div role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row mt-3 mb-3">
                        <div class="col-8">
                            <h5>@Product.Name</h5>
                            <p>@Product.Descr</p>
                            <p>Quantity: @Product.Qty</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img src="@Product.URL" class="img-fluid" alt="productimage">
                        </div>
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <label>1</label>
                        <input type="range" class="form-range custom-range" style="width:80%;" min="1" max="@Product.Qty" step="1" id="amountRange" @bind="amount" @bind:event="oninput" />
                        <label>@Product.Qty</label>
                    </div>
                    <div class="input-group justify-content-center mb-3 mt-3">
                            <span class="input-group-text" id="basic-addon1">Amount</span>
                            <input type="number" class="col-sm-2" @bind="amount" @bind:event="oninput" aria-describedby="basic-addon1">
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <button type="button" class="btn btn-custom justify-content-start" @onclick="() => OnCancelEvent.InvokeAsync()">Close</button>
                        <button type="button" class="btn btn-custom justify-content-end" @onclick="AddToCart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Alert>


@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public EventCallback OnCancelEvent { get; set; }

    [Parameter]
    public EventCallback<int[]> OnAddEvent { get; set; }

    private int amount = 1;

    private void AddToCart()
    {
        OnAddEvent.InvokeAsync(new int[] { Index, amount });
    }

}