@using WebStoreElementLogic.Entities
@using WebStoreElementLogic.Data;

<Alert OnCancel="() =>OnCancelEvent.InvokeAsync()">
    <div role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row mt-3 mb-3">
                        <div class="col-8">
                            <h5>@Product.Name</h5>
                            <p>@Product.Descr</p>
                            <p>Quantity: @Product.Qty</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img src="@Product.URL" class="img-fluid" alt="@Product.Name">
                        </div>
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <label>1</label>
                        <input type="range" class="form-range custom-range" style="width:80%;" min="1" max="@(isInbound? MAX_QTY : Product.Qty)" step="1" id="amountRange" @bind="amount" @bind:event="oninput" />
                        <label>@(isInbound ? MAX_QTY : Product.Qty)</label>
                    </div>
                    <div class="input-group justify-content-center mb-3 mt-3">
                            <span class="input-group-text" id="basic-addon1">Amount</span>
                            <input type="number" class="col-sm-2" @bind="amount" @bind:event="oninput" aria-describedby="basic-addon1">
                    </div>
                    @if (amount > (isInbound? MAX_QTY : Product.Qty) || amount < 1)
                    {                    
                        <p class="text-center fw-bold">Amount selected is not available</p>                     
                    }
                    <div class="d-flex justify-content-around mt-3">
                        <button type="button" class="btn btn-neutral justify-content-start" @onclick="() => OnCancelEvent.InvokeAsync()">Close</button>
                        <button type="button" class="btn btn-positive justify-content-end" @onclick="AddToCart">Add to cart</button>
                    </div>
                    @if (quant)
                    {
                        <div class="alert alert-danger text-center mt-3" role="alert">
                            Could not add selected amount
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</Alert>

@code {
    [Parameter]
    public bool isInbound { get; set; } = false;

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public EventCallback OnCancelEvent { get; set; }

    [Parameter]
    public EventCallback<int[]> OnAddEvent { get; set; }

    private int amount = 1;

    private bool quant = false;

    private static int MAX_QTY = 50;

    private void AddToCart()
    {
        if (amount > (isInbound ? MAX_QTY : Product.Qty) || amount < 1)
        {
            quant = true;
        }
        else
        {
            OnAddEvent.InvokeAsync(new int[] { Index, amount });
        }
    }

}