@using WebStoreElementLogic.Entities
@using WebStoreElementLogic.Data;

<Alert OnCancel="() =>OnCancelEvent.InvokeAsync()">
    <div role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row mt-3 mb-3">
                        <div class="col-8">
                            <h5>@Product.Name</h5>
                            <p>@Product.Descr</p>
                            <p>Quantity: @Product.Qty</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img src="@Product.URL" class="img-fluid" alt="@Product.Name" aria-label="@Product.Name">
                        </div>
                    </div>
                    @if (amount > Product.Qty || amount < 1)
                    {
                        <p class="text-center fw-bold">Product selected not in stock</p>
                    }
                    <div class="d-flex justify-content-around mt-3">
                        <button type="button" class="btn btn-neutral justify-content-start" title="Close" aria-label="Close" @onclick="() => OnCancelEvent.InvokeAsync()">Close</button>
                    </div>
                    @if (quant)
                    {
                        <div class="alert alert-danger text-center mt-3" role="alert">
                            Could not add selected amount
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</Alert>

@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public EventCallback OnCancelEvent { get; set; }

    [Parameter]
    public EventCallback<int[]> OnAddEvent { get; set; }

    private int amount = 1;

    private bool quant = false;

    private void AddToCart()
    {
        if (amount > Product.Qty || amount < 1)
        {
            quant = true;
        }
        else
        {
            OnAddEvent.InvokeAsync(new int[] { Index, amount });
        }
    }

}