@page "/inboundpage"
@using Microsoft.AspNetCore.WebUtilities;
@using WebStoreElementLogic.Data;
@using WebStoreElementLogic.Entities;
@using WebStoreElementLogic.Interfaces;
@inject IProductService ProductService;
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inherits ProductComponentBase


<div class="d-flex flex-row mx-5 rounded mb-3">
    <button @onclick="() => ShowList = !ShowList" class="btn btn-primary">@(ShowList ? "🖼" : "📃")</button>
    <input placeholder="Search Product Names.." id="txtSearch" name="search" type="text" class="form-control ms-3"
            @bind="SearchTerm" @bind:event="oninput">
</div>
<div class="container-fluid">
    <div class="@(ShowList ? "mx-5" : "row")">
        @foreach (Product product in FilteredProducts)
        {
            if (!ShowList)
            {
                <ProductTile 
                    Product="@product"
                    Index="@FilteredProducts.IndexOf(product)"
                    OnSelected="(index) => SelectProduct(FilteredProducts[index])"
                    Selected="@(SelectedIndex == FilteredProducts.IndexOf(product))" />
            }
            else
            {
                <ProductListItem 
                    Info="@product"
                    Index="@FilteredProducts.IndexOf(product)"
                    OnSelected="(index) => SelectProduct(FilteredProducts[index])"
                    Selected="@(SelectedIndex == FilteredProducts.IndexOf(product))" />
            }
        }
        @if (Products == null)
        {
            <h3>Loading Products...</h3>
        }
    </div>
</div>


@if (ShowModal)
{
    <ProductModal 
        Product="@FilteredProducts[SelectedIndex]"
        Index="SelectedIndex"
        OnCancelEvent="() => ShowModal = false"
        OnAddEvent="Checkout" />
}

@if (ShowSuccess)
{
    <Alert OnCancel="() => ShowSuccess = false">
        <h3>Products placed</h3>
        <p>
            You have successfully placed
            <br>
            <span class="text-info text-decoration-underline">
                @FilteredProducts[SelectedIndex].Name
            </span>
             x @Count
            <br>
            Into the system
        </p>
        <div class="d-flex flex-row justify-content-center" style="min-width: 25vw;">
            <button @onclick="() => ShowSuccess = false" class="btn btn-info">Ok</button>
        </div>
    </Alert>
}

@code {

    public override void SelectProduct(Product product)
    {
        base.SelectProduct(product);
        ShowModal = true;
    }

    private bool ShowModal = false;
    private bool ShowList = false;
    private bool ShowSuccess = false;

    private int Count = 0;

    protected override async Task OnInitializedAsync()
    {

        // method for showing productname from database into page
        try
        {
            int pageSize = 25;
            // Get the current page number from the query string
            int pageIndex = GetPageIndexFromQueryString();

            // Store in a new list temporarily to avoid seting Products to null
            List<Product> FetchedProducts = await ProductService.GetProducts("", pageIndex, pageSize);
            FilteredProducts = FetchedProducts;
            Products = FilteredProducts.ToList();
        }
        catch (Exception e)
        {
            // NoConnection = true;
        }

    }

    private void Checkout(int[] product)
    {
        ShowModal = false;

        int index = product[0];
        int count = product[1];

        // TODO: Send to eManager, remove next two lines
        Count = count;
        ShowSuccess = true;
    }
}
