@page "/login"
@using LoginNamespace = Login;
@using System.Security.Claims;
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.WebUtilities;
@using WebStoreElementLogic.Data;
@using WebStoreElementLogic.Entities;
@using WebStoreElementLogic.Interfaces;
@using Microsoft.AspNetCore.Identity;
@inject IUserService UserService;
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authentication;
@inject IJSRuntime JSRuntime;
@using Microsoft.AspNetCore.Components.Authorization;
@using WebStoreElementLogic.Account;
@using Microsoft.Extensions.Caching.Distributed
@inject IDistributedCache DistributedCache
@layout Shared.LoginLayout;
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> UserManager;
@inject CustomAuthenticationStateProvider AuthenticationStateProvider;


<title>Log in</title>
<div class="center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-body">

                        <img src="../images/logos/Element Logic logo red hires.jpg" style="width: 300px; height: 100px;" class="mx-auto d-block mb-4" aria-label="Element Logic logo"/>

                        <h5 class="card-title text-center mb-4">Login to Web Store</h5>

                        <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit" aria-label="Login form">
                            <DataAnnotationsValidator />

                            <div class="form-group border mb-4">
                                <div class="input-group">
                                    <InputText id="username" class="form-control narrow-input" autocomplete="off" placeholder="Username" aria-label="Username" @bind-Value="@loginModel.Username" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: transparent; border: none;">
                                            <!-- Font Awesome icon -->
                                            <i class="fa fa-user fa-2x" style="border: none;" aria-label="User icon"></i>
                                        </span>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => loginModel.Username)" />
                            </div>
                            <div class="form-group border mb-4">
                                <div class="input-group">
                                    <InputText id="password" class="form-control narrow-input" type="password" placeholder="Password" aria-label="Password" @bind-Value="@loginModel.Password" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: transparent; border: none;">
                                            <!-- Font Awesome icon -->
                                            <i class="fa fa-lock fa-2x" style="border: none;" aria-label="Lock icon"></i>
                                        </span>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => loginModel.Password)" />
                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-login btn-block" aria-label="Submit">Log in</button>
                            </div>

                        </EditForm>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<style>
    .card {
        max-width: 400px;
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .narrow-input {
        width: 50px;
    }
</style>


@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleValidSubmit()
    {
        var user = await UserService.GetUser(loginModel.Username);

        if (user != null)
        {
            var passwordHasher = new PasswordHasher<User>();

            var passwordVerificationResult = passwordHasher.VerifyHashedPassword(user, user.password, loginModel.Password);

            if (passwordVerificationResult == PasswordVerificationResult.Success)
            {
                // Set the admin status of the user to the value retrieved from the database
                loginModel.IsAdmin = Convert.ToBoolean(user.admin);

                // Set session value
                await DistributedCache.SetStringAsync("IsAdmin", loginModel.IsAdmin.ToString());


                // Set the authenticated user information
                var claims = new List<Claim>
            {
                new Claim(ClaimTypes.Name, user.userName),
                new Claim(ClaimTypes.Role, loginModel.IsAdmin ? "Admin" : "User")
            };

                var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
                var principal = new ClaimsPrincipal(identity);
                var authenticationState = new AuthenticationState(principal);

                // Sign in the user
                await AuthenticationStateProvider.NotifyAuthenticationStateChangedAsync(authenticationState);

                // Navigate to home page
                NavigationManager.NavigateTo("/home");
            }
            else
            {
                // Passwords do not match
                await JSRuntime.InvokeVoidAsync("alert", "User found, but wrong password entered.");
            }
        }
        else
        {
            // User not found
            await JSRuntime.InvokeVoidAsync("alert", "User not found. Try another username.");
        }
    }




    public class LoginModel
    {
        [Required(ErrorMessage = "Please enter your username")]
        public string Username { get; set; }

        [Required(ErrorMessage = "Please enter your password")]
        public string Password { get; set; }

        [Required]
        public bool IsAdmin { get; set; }
    }
}

