@page "/Status"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Components.Authorization
@using WebStoreElementLogic.Data
@using WebStoreElementLogic.Entities
@using WebStoreElementLogic.Interfaces
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IStatusService StatusService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;
@inherits ProductComponentBase

<title>Status</title>

<div class="d-flex flex-row mx-5 rounded mb-3">
    <!-- Inbound -->
    <div class="col container-fluid">
        <div style="text-align: center;">
            <h3 style="text-align: center; display: inline-block;">Inbound</h3>
            <div class="tooltip-container">
                <i class="fas fa-info-circle" aria-label="Info icon"></i>
                <span class="tooltip-text">This list shows all awaiting inbounds, and inbounds that has been prosessed</span>
            </div>
        </div>
        

        @if (inbounds != null)
        {
            <div style="max-height: calc(100vh - 300px); overflow-y: scroll; overflow-x: hidden; width: calc(100% + 23px);">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Product ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Inbound inbound in inbounds)
                        {
                            <tr>
                                <td>@inbound.ProductId</td>
                                <td>@inbound.Name</td>
                                <td>@inbound.DisplayQuantity</td>
                                <td>
                                    <span class="@(inbound.Status ? "badge bg-success" : "badge bg-warning text-dark")">
                                        @(
                                    inbound.Status ? "Done" : "Awaiting"
                                    )
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" @onclick="() => DeleteData(inbound.InboundId)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <!-- Empty column for the gap -->
    <div class="col-1 d-flex align-items-center justify-content-center">
        <div style="border-right: 1px solid black; height: 100%;"></div>
    </div>

    <!-- Order -->
    <div class="col container-fluid">
        <div style="text-align: center;">
            <h3 style="text-align: center; display: inline-block;">Order</h3>
            <div class="tooltip-container">
                <i class="fas fa-info-circle" aria-label="Info icon"></i>
                <span class="tooltip-text">This list shows all orders, and awaiting orders that has been prosessed</span>
            </div>
        </div>

        @if (orders != null)
        {
            <div style="max-height: calc(100vh - 300px); overflow-y: scroll; overflow-x: hidden;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Product ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Order order in orders)
                        {
                            <tr>
                                <td>@order.ExtProductId</td>
                                <td>@order.Name</td>
                                <td>@order.DisplayQuantity</td>
                                <td>
                                    <span class="@(order.Status ? "badge bg-success" : "badge bg-warning text-dark")">
                                        @(order.Status ? "Done" : "Awaiting")
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" @onclick="() => DeleteData(order.ExtOrderId)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>


@if (DisplayWarning)
{
    <Alert OnCancel="() => DisplayWarning = false">
        <h3>Are you sure?</h3>
        <div class="d-flex flex-row justify-content-around mt-3">
            <button class="btn btn-neutral" title="Cancel" aria-label="Cancel" @onclick="() => DisplayWarning = false">Cancel</button>
            <button class="btn btn-danger" title="Confirm" aria-label="Confirm" @onclick="DeleteConfirmed">Delete</button>
        </div>
    </Alert>
}


@code {
    private bool showDeleteConfirmation;
    private int deletingItemId;
    private List<Inbound> inbounds;
    private List<Order> orders;
    private bool DisplayWarning = false;


    private void DeleteData(int itemId)
    {
        deletingItemId = itemId;
        DisplayWarning = true;
    }

    private async Task DeleteConfirmed()
    {
        DisplayWarning = false;
        await DeleteInbound(deletingItemId);
        await DeleteOrder(deletingItemId);
        showDeleteConfirmation = false;
        
    }

    private void DeleteCancelled()
    {
        showDeleteConfirmation = false;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            inbounds = await StatusService.GetUnfinishedInbounds();
            orders = await StatusService.GetUnfinishedOrders();
        }
        catch (Exception e)
        {
            // Handle exception
        }
    }

    private async Task DeleteInbound(int inboundId)
    {
        try
        {
            // Call the service method to delete the inbound item
            int deletedRows = await StatusService.DeleteInbound(inboundId);

            if (deletedRows > 0)
            {
                inbounds = await StatusService.GetUnfinishedInbounds();
            }
            else
            {
                // Handle the case when the delete operation did not affect any rows
                // Display an error message or take appropriate action
            }
        }
        catch (Exception e)
        {
            // Handle exception
        }
    }

    private async Task DeleteOrder(int extorderId)
    {
        try
        {
            // Call the service method to delete the order
            int deletedRows = await StatusService.DeleteOrder(extorderId);

            if (deletedRows > 0)
            {
                orders = await StatusService.GetUnfinishedOrders();
            }
            else
            {
                // Handle the case when the delete operation did not affect any rows
                // Display an error message or take appropriate action
            }
        }
        catch (Exception e)
        {
            // Handle exception
        }
    }
}
